# App
VITE_APP_URL=http://localhost:5173

# Supabase (Frontend)
VITE_SUPABASE_URL=https://becqprcmjxpwiwgflvoj.supabase.co
VITE_SUPABASE_ANON_KEY=

# Supabase (Server / Edge Functions / scripts)
SUPABASE_SERVICE_ROLE_KEY=

# Lemon Squeezy
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_WEBHOOK_SECRET=

